.wrapper{
    /* background-color: rgba(0,0,0,0.7); */
};

.dndContainer{
   background-color:lightgrey;
   height: 600px;
}

.buttonStyle{
   padding: 10px;
   background-color: rgba(255,255,255,0.5);
};

.dragDropContainer{
   background-color:lightgrey;
   height: 600px;
};

.header{
   color:#fff
}

.instructions-container{
   color:#fff;
   margin-top: 10px;   
}

.instructions{
   max-width: 500px;
   margin: auto;
   text-align: left
};

.mt40{
   margin-top:40px;
}

.task-header{
   padding:10px;
   text-align: center;
   font-weight: bold;
   font-size: 16px;
}
.fa-caret-left{
   padding-right: 1px; 
}

.fa-caret-right{
  padding-left: 1px; 
}

.buttonStyle{
   border-radius: 50%;
   background: aqua !important;
}
.buttonStyle:active{
   background-color: 'blue' !important;
   color: #fff !important;
}